<div class="container">
  <div class="row">
    <div class="col col-sm">
      <app-navbar></app-navbar>
      <h1>Bienvenue sur mon site Web de présentation</h1>

      <a href="https://zupimages.net/viewer.php?id=19/46/dx5y.png"
        ><img src="https://zupimages.net/up/19/46/dx5y.png" alt="cv" id="cv"
      /></a>
    </div>

    <section class="row">
      <div class="clo-5">
        <div class="card-header">
          A propos du site
        </div>
        <div class="card-body">
          <ul class="lisr-unstyled">
            <li>Client : Angular</li>
            <li>Serveur : NodeJS</li>
            <li>BDD : Mongodb</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
